.THIS{}

.THIS .TextContainer {
  position: absolute;
  margin: 100px;
  width: 100%;
  text-align:right;
}
.THIS .banner-content{
    
    margin: auto;
    align-self: center;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
}

.THIS .feature-header {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1.875rem;
    font-weight: 400;
   
    color:#FFFFFF;
}

.THIS .btnContainer{
    padding: 0.625rem 0 0;
}
.THIS .actionBtn{
    color: #fff;
    background-color: #f05b43;
    
}
.THIS .button {
     margin-top: 1.625rem;
        min-width: 8.125rem;
        background-color: rgb(240, 91, 67);
        transition: none;
        color:#ffffff;
        border:none;
    font-size:20px;
}
.THIS p{
    display: block;
    
    color:rgb(255, 255, 255);
    font-size:22px;
    font-weight:400;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

.THIS.bg-img {
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}




/** Navbar**/

.THIS .topnav {
  overflow: hidden;
  background-color: rgba(255,255,255,0);
}

.THIS .topnav a {
  float: left;
 
  
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
    
    padding: 1.125rem 0.875rem;
    display: block;
    letter-spacing: 0.02em;
    color: #fff;
    transition: none;
    text-shadow: 0 0.0625rem 0.1875rem rgba(30, 30, 30, 0.1);
}

.THIS .active {
  font-weight: 800;
  color: white;
}

.THIS .topnav .icon {
  display: none;
}

.THIS .dropdown {
    float: left;
    overflow: hidden;
}

.THIS .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 1.125rem 0.875rem;
    
    margin: 0;
    letter-spacing: 0.02em;
    transition: none;
    background-color:inherit;
    font-family:inherit;
}

.THIS .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.THIS .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #334047;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.625rem 0;
   
}

.THIS .topnav a:hover, .THIS .dropdown:hover .dropbtn {
  background-color: rgba(255,255,255,0);
  color: white;
}

.THIS .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.THIS .dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .THIS .topnav a:not(:first-child), .THIS .dropdown .dropbtn {
    display: none;
  }
  .THIS .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    .THIS .dropdown-content {
        display:none;
    }
    .THIS .dropdown:hover .dropdown-content {
    display: block;
}
  .THIS .topnav.responsive {position: relative;}
  .THIS .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .THIS .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .THIS .topnav.responsive .dropdown {float: none;}
  .THIS .topnav.responsive .dropdown-content {position: relative;}
  .THIS .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
    
 
}

.THIS .topnav .search {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}