.THIS.slds-modal {
    width: 180%;
    left: -40%;
    /*margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    */
    border-radius: 7px;
    
}
.THIS .slds-card{
    border: 1px solid rgb(221, 219, 218);
}
/*.THIS .WrapText{
white-space: normal;
}*/
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    min-width: 20rem;
}
.THIS .maximizeModalContainer{
    width:100%;
    padding:0;
}
.THIS.onVFPage, .THIS .onVFPage{
    width: 100% !important;
    left: 0px !important;
    margin:0px;
    background: bisque;
}
.THIS.slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: 16rem;
}
.THIS .slds-spinner_container{
    margin: 3rem 0rem;
}
.THIS .slds-is-open>.slds-accordion__summary{
    margin-bottom:0px;
}
.THIS .slds-accordion__section{
    
}
.THIS .slds-accordion__summary-action{
    background: #f3f2f2 !important;
    padding: .25rem !important;
}
.THIS .slds-accordion__section{
    padding: 0.5rem 0rem 0.5rem 0rem !important;
}

.THIS .datePickerPadding lightning-datepicker	input{
    
    padding-left: 2px;
    padding-right: 0px;
}

.THIS .datePickerPadding .slds-input-has-icon .slds-input__icon
{
    width: 0.2rem;
}
.THIS .ZeroPadding
{
}
.THIS .leftpadding
{
    padding:0px;
    padding-left:4px;
    width:1% !important;
}
.THIS .navigation {
    min-width: 225px;
    border-right: 1px solid #e7e7e7;
}
.THIS .HighlightedRow{
    background: #f9f9fa;
}
.THIS .ModelHeader .slds-icon-text-default{
    
}
.THIS .ModelHeader{
    background-color: #f3f2f2;
    font-weight: bold;   
}
.THIS .brandColor svg{
    fill: #00a1e0;
}
.THIS .headerColor thead tr th {
    background-color: #f3f2f2 !important;
    font-weight: bold !important;
    text-align: center;
    font-size: small !important;
    
}
.THIS .headerColor tbody tr td {
    
    
    text-align: center;
}
.THIS .headerColor{
    width:100%;
}
.THIS .slds-icon-custom-custom55{
    background-color : #FCB95B !important;
    
}
.THIS .slds-icon-custom-55{
    background-color : #FCB95B !important;
    
}
.THIS .ccc{
    padding: 0px;
    padding-left: 16px;
    width: 2.2rem;
    
}

.THIS .CardHeader{
    color:#041066;display:inline;
    font-weight: bold;
}