.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .slds-box {
    padding: unset;
    border-radius: 0;
    border: none;
}
.THIS .slds-icon_small {
    /* width: 1.5rem; */
    height: 1.5rem;
    line-height: 1;
}
    
.THIS .slds-wrap{
    flex-wrap: unset;
    align-items: flex-start;
}

.THIS .slds-container--small{
    padding:unset;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS div.box {
    position: relative;
    height :44px;
    align:center;
    vertical-align:middle;
    text-decoration: none;
    
}
 
.THIS div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
   
}
 
.THIS a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(85%);
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 100;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.THIS .innerdiv{
        position: absolute;
         top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          width: 145px;
          height: 80px;
        align: center;
        vertical-align:middle;
        
}

.THIS a:hover { text-decoration: none;
                font-weight: bold;}

.THIS .ec_title{
font-family: Lato-Regular;
font-size: 30px;
color: #0A0A0A;
line-height: 36px;
}

.THIS .ec_body3{
/* Body 2 - Display Nor: */
font-family: Lato-Regular;
font-size: 16px;
color: #0A0A0A;
line-height: 26px;
}



.THIS .listContent {
 clear: both;
 position: relative;
}

.THIS .topicList {
 margin: 0;
 padding: 0;
 list-style-type: none;
 overflow: hidden;
}
@media (min-width:200px) {
    .THIS .topicItem {
  width: 100%;
 height: 100px;
}
}
@media (max-width:767px) {
    .THIS .topicItem {
  width: 100%;
 height: 100px;
}
}

/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 960px) {
    
    .THIS .hide{
        display:none;
    }}

@media (min-width:768px) {
    .THIS .topicItem {
  width: 50%;
 height: 200px;
}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
    .THIS .topicItem {
  width: 33.33333333%;
 height: 250px;
}
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
    .THIS .topicItem {
  width: 33.33333333%;
 height: 250px;
}
    
}



.THIS .topicItem {
 display: block;
 padding: 1px;
 
 box-sizing: border-box;
 float: left;
}

.THIS li {
 display: list-item;
 text-align: -webkit-match-parent;
}

.THIS .topicList {
 margin: 0;
 padding: 0;
 list-style-type: none;
 overflow: hidden;
}


.THIS ul {
 display: block;
 list-style-type: disc;
 -webkit-margin-before: 1em;
 -webkit-margin-after: 1em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 -webkit-padding-start: 40px;
}

.THIS .topicLink {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

/*.THIS .topicLink:hover {
  position: relative;
  -webkit-filter: brightness(90%);

}*/

.THIS .topicContent {
 background-color: rgba(0,0,0,.4);
 -webkit-transition: background .8s 
ease;
 transition: background .8s 
ease;
}

.THIS .topicContent {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 display: table;
 table-layout: fixed;
}



@media only screen and (min-width: 48em){

.THIS .topicLabel {
 padding: 1rem;
}
}

.THIS .topicLabel {
 color: #ffffff;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 overflow: hidden;
 text-overflow: ellipsis;
 padding: .5rem;
}

.THIS .topicLabel {
 color: #ffffff;
 text-transform: uppercase;
 font-size: 16px;
 font-weight: 700;
}



.THIS .topicImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}



@media only screen and (min-width:48em) and (min-aspect-ratio:4/3),
only screen and (min-width:64.0625em){

.THIS .topicContent{background-color:rgba(0,0,0,.4);-webkit-transition:background .8s ease;transition:background .8s ease}
.THIS .topicLabel{color:#ffffff;text-transform:uppercase;font-size:16px;font-weight:700}
}
@media only screen and (min-width:48em) and (min-aspect-ratio:4/3),only screen and (min-width:64.0625em){
    .THIS .topicContent:hover,
    .THIS .topicLink:focus .topicContent{background-color:rgba(44,193,133,0.9);outline:0}
    .THIS .topicLink:focus{outline:0}
}