.THIS .marker{
    border-left:4px solid #44B4C8;height:18px ;font-size:14px;font-family:gotham-medium;
}
.THIS .Title{
    font-family:Gotham-Bold;
    font-size:30px;
}
.THIS .text{
    line-height:1.8!important;
    font-size:15px;
}
.THIS .Cardstyle{border:unset;}

.THIS .slds-breadcrumb {
   color:#F05F4D !IMPORTANT;
 
}

.THIS .slds-list__item>a{
   color:#F05F4D !IMPORTANT;
 
}
 .THIS .slds-breadcrumb__item>a{
   color:#F05F4D !IMPORTANT;
 
}


.THIS .slds-p-left_large{
        padding-left: 1rem !IMPORTANT;
}

.THIS.bg-img {
  min-height: 380px;
       
    border: black 1px solid;
        margin: 3%;
        margin-bottom: 1%;
    margin-top: 1%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
   
}