.THIS .custom-box{
    border-radius: 4px;
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.14);
    transition: 0.3s;
    background-color: white;
    margin: 10px;
    overflow: overlay;
    overflow-x: hidden;
}


.THIS .custom-box-header-comp{
    border-radius: 4px;
    transition: 0.3s;
    background-color: white;
    /*margin-left: 10px;
    margin-right:10px;*/
}