/*
	@ PURPOSE : STYLES THE LIGHTNING COMPONENT --> PMIssuesUpdateCmp.xml
	@ Name    : PMIssuesUpdateCmp.css
*/
.THIS .pm_table {
    overflow-x: scroll !important;
    padding-bottom: 100px;
    height: 320px !important;
}

.THIS .pmTableCol {
	width : 150px;
}

.THIS .req_del_date{
    width: 73% !important;
}

.THIS .fit_content.slds-dropdown { max-width : fit-content !important; }

.THIS .slds-dropdown_fluid { width: auto !important; }

.THIS .searchResult.slds-dropdown {
    width: 100% !important;
}

.THIS .slds-grid { 
    padding-bottom: 10px !important; 
}

.THIS .req_del_date{
    width: 73% !important;
}

.THIS .space-up-down {
    padding-top: 10px; 
    padding-bottom: 10px;
}