.THIS {
    background-color: white;
}
.THIS .headerClass{
    font-size: 1em !important;
    white-space: nowrap !important;	
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    font-weight: bold !important;
}