/* PDF Printing Styles
*/

@page { 
	size: A4 portrait;
	
	margin-top: 100px;
	margin-bottom: 80px;
	
	@top-left {
		content: element(header_left);
	}
	
	@top-center {
		content: element(header_center);
	}
	
	@top-right {
		content: element(header_right);
	}
	
	@bottom-left {
		content: element(footer_left);
	}
	
	@bottom-center {
		content: element(footer_center);
	}
	
	@bottom-right {
		content: element(footer_right);
	}
}

.header_left {
	text-align: left;
    position: running(header_left);
}

.header_center{
	text-align: center;
	position: running(header_center);
}

.header_right {
	text-align: right;
	position: running(header_right);
}

.footer_left {
	text-align: left;
	position: running(footer_left);
}

.footer_center {
	text-align: center;
	position: running(footer_center);
}

.footer_right {
	text-align: right;
	position: running(footer_right);
}

.pageNumber:before {
	content: counter(page); 
}

.pageCount:before {
	content: counter(pages);  
}

/* Content Styles
*/

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	color: #003060;	
	font-size: 25px;
	padding-top: 30px;
}

p.title {
	display: block;
	font-size: 24px;
	width: 500px;
	margin: 150px 100px 100px 100px;
	text-align: center;
	color: #003060;
}

img.header {
 	width: 700px;
}

img.title {
 	width: 500px;
	margin: 0 100px 200px 100px;
}

div.twocolumn {
	width: 700px;
}

div.twocolumn img {
	width: 40%;
	float: left;
	padding: 25px;
}

ul.features {
	width:  600px;
}

ul.features li {
	padding: 15px 0 0;
}