.THIS {
}
@media(max-width:700px){
    .THIS .responsiveHide{
        display : none !important;
    }
}
.THIS .sidebar {
    display: none;
} 
@media(min-width: 1024px)  {
    .THIS .sidebar {
        display: block;
    }
}
    .THIS .fixed_header {
        position: fixed; 
        top: 0; 
        left: 0    
    }